.theme-toggle-btn {
  transition: color 0.3s ease-in-out;
}

.theme-toggle-icon {
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.theme-toggle-icon:hover {
  transform: scale(1.1);
}
