@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


.slider-container {
  border: 1px;
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 10px 10px;
}

.slider-item {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px 10px;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, text-shadow 0.3s ease-in-out;
}

.slider-icon {
  display: inline-flex;
  width: clamp(12px, 3vw, 26px);
  height: clamp(12px, 3vw, 26px);
  justify-content: center;
  align-items: center;
}

.slider-item:hover,
.slider-item:active{
  transition: transform 0.1s ease-in-out, text-shadow 0.1s ease-in-out;
  text-shadow:
    0 0 4px var(--glow-color),
    0 0 6px var(--glow-color),
    0 0 8px var(--glow-color);
  transform: scale(1.1);
}

