header {
    @apply: bg-white dark:bg-black;
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    position: sticky;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 70px; 
    backdrop-filter: blur(10px); /* Aplicar el efecto borroso */
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
}

header li{
  @apply transition-transform duration-300 hover:scale-110;
}

li a:link,
a:visited {
  font-family: "Cal Sans SemiBold";
  font-size: 16px;
  text-decoration: none;
  transition: 0.8s ease;
}

li a:hover,
a:active {
  color: transparent;
  background: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  transition: 0.8s ease;
}


@media (max-width: 956px) {
  nav {
    display: none; 
  }
  header {
    grid-template-columns: 20% 1fr 30%; 
  }
}

@media (max-width: 750px) {
  header {
    grid-template-columns: 30% 1fr 50%; 
  }
  .nav-buttons {
    gap: 2px;
  }
}

@media (max-width: 430px) {
  header {
    grid-template-columns: 40% 1fr 60%; 
  }
}


