/* Cambiar el color y el tamaño de las flechas */
.swiper-button-next,
.swiper-button-prev {
  @apply text-black dark:text-white text-2xl;
}

/* Puntos inactivos */
.swiper-pagination-bullet {
  @apply bg-black dark:bg-white opacity-80 ;
}

/* Punto activo */
.swiper-pagination-bullet-active {
  @apply bg-gradient-to-t from-[#e100ff] to-[#00e1ff];
}

.swiper-slide {
  @apply bg-[#F2F2F2] dark:bg-[#0A0A0A];
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 500px;
  padding: 18.75px;
  gap:6.25px;
  border-radius: 0.5rem;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.project-title {
  font-size: 40px;
}

.project-info {
  font-size: 16px;
}

@media (max-width: 480px) {
  .swiper-slide {
    width: 225px;
    height: 300px;
  }
  .project-title {
    font-size: 24px;
  }
  .project-info {
    font-size: 9.6px;
  }
}