.skills-by-knowing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.25px;
}

.skills-by-role{
    @apply border-[2px] border-black dark:border-white;
    display: flex;
    flex-direction: column;
    gap: 6.25px;
    border-radius: 20px;
    padding: 3.75px;
}