@tailwind base;
@tailwind components;
@tailwind utilities;

.tech {
    @apply 
        flex 
        flex-row 
        items-center 
        justify-center 
        px-1 
        py-[2.5px] 
        m-0 
        rounded-lg 
        transition-transform 
        duration-300 
        hover:scale-110 
}

.tech p{
  margin: 0;
  padding: 0px 6.25px;
  font-size: 12.5px; 
}

.tech-icon{
  width: 15px;
  height: 15px;
}

.tech:hover {
  transform: scale(1.1); /* hover:scale-110 */
}

@media (max-width: 480px){
  .tech p{
    padding: 0px 2px;
    font-size: 7.5px; 
  }
  
  .tech-icon{
    width: 9px;
    height: 9px;
  }
}