@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

main {
  display: flex;
  justify-content: center;
  padding: 10px;
  position:relative;
  margin-top: clamp(60px, 9vw, 70px); 
}

.main-content {
  display: grid;
  grid-template-columns: minmax(200px, 350px) 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "hero skills"
    "profile projects"
    "about projects"
    "contact projects";
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}

.hero-section {
  grid-area: hero;
  display:flex;
  flex-direction: column;
}

.about-me-section {
  grid-area: about;
}

.contact-section {
  grid-area: contact;
}

.projects-section{
  align-items: center;
  grid-area: projects;
}

.skills-section{
  align-items: center;
  grid-area: skills;
  overflow: hidden;
}

.hero-section,
.profile-section,
.about-me-section,
.contact-section,
.projects-section,
.skills-section {
  @apply bg-[#eee]/50 dark:bg-[#111]/50;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 10px;
  align-items: left;
}

.hero-section{
  align-items: left;
  text-align:center;
}

.main-section::-webkit-scrollbar {
  width: 6px;
}
.main-section::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .main-content {
    grid-template-columns: minmax(100px, 150px) 1fr;
    grid-template-areas:
      "hero profile"
      "about about"
      "skills skills"
      "projects projects"
      "contact contact";
  }

  .hero-section,
  .profile-section,
  .about-me-section,
  .contact-section,
  .projects-section,
  .skills-section {
    align-items: center;
  }
}