@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

main {
  flex: 1 0 auto;
  
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  padding: 10px;
  position: relative;
  margin-top: clamp(60px, 9vw, 70px);
}

/* Contenido principal organizado en grid */
.main-content {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "hero projects"
    "profile projects"
    "about projects"
    "contact skills";
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}

/* Áreas del grid */
.hero-section {
  grid-area: hero;
  display: flex;
  flex-direction: column;
}

.about-me-section {
  grid-area: about;
}

.contact-section {
  grid-area: contact;
}

.projects-section {
  grid-area: projects;
  align-items: center;
}

.skills-section {
  grid-area: skills;
  align-items: center;
  overflow: hidden;
}

/* Estilos comunes para las secciones */
.hero-section,
.profile-section,
.about-me-section,
.contact-section,
.projects-section,
.skills-section {
  @apply bg-[#eee]/50 dark:bg-[#111]/50;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 10px;
  align-items: left;
}

/* Estilo específico del Hero */
.hero-section {
  align-items: left;
  text-align: center;
}

/* Scroll personalizado (aunque no se usará en main, puede ser útil para subcomponentes) */
.main-section::-webkit-scrollbar {
  width: 6px;
}
.main-section::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

/* Responsive */
@media (max-width: 1000px) {
  .main-content {
    grid-template-columns: minmax(100px, 150px) 1fr;
    grid-template-areas:
      "hero profile"
      "about about"
      "projects projects"
      "skills skills"
      "contact contact";
  }

  .hero-section,
  .profile-section,
  .about-me-section,
  .contact-section,
  .projects-section,
  .skills-section {
    align-items: center;
  }
}