@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.contact-buttons-container{
    display:flex;
    margin: 10px 0px;
    gap: clamp(2px, 2vw, 8px);
}

.contact-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: clamp(2px, 2vw, 8px);
    padding: clamp(2px, 1vw, 6px) clamp(5px, 3vw, 10px);
    border-radius: 25px;
    cursor: pointer;
    color: white;
    transition: background-position 0.5s ease-in-out;
}

.github-button,
.linkedin-button{
    max-width: 180px;
}
.github-button{
    background: linear-gradient(to right, #1F1F1F, #000, #1F1F1F);
    background-size: 200% 100%;
}

.linkedin-button{
    background: linear-gradient(to right, #0A66C2, #003F7E, #0A66C2);
    background-size: 200% 100%;
}

.gmail-button{
    background: linear-gradient(to right, #FF8000, #A22000, #FF8000);
    background-size: 200% 100%;    
}

.contact-button-container:hover {
    background-position: -105% 0;
  }

.contact-icon{
    width: clamp(16px, 6vw, 20px);
    height: clamp(16px, 6vw, 20px);
}