---
import myicon from '../assets/images/my-icon.webp'
import colflag from "../assets/svg/co.svg"
import "../styles/AboutMe.css";
---

<section id="about-me" >
    <div class="section-container">
        <div>
            <h2 class="dynamic-title" data-lang="aboutMe">About Me</h2>    
        </div>
        
        <div class="about-me flex justify-center items-center">
            <img class="w-[250px] h-[250px] transition-transform duration-300 hover:scale-110 cursor-pointer" src={myicon.src} alt="my-icon"  />
            <div class="flex flex-col">
                <div class="pills-container flex flex-row justify-left items-center gap-3 px-5 py-2">
                    <div class='about-me-pill border-[#00D96D]'>
                        <span class="text-[14px]">✅</span>
                        <span data-lang="readyToWork" >Ready to work</span>
                    </div>
                    <div class='about-me-pill border-[#FFE800]'>
                        <img src={colflag.src} alt="Col flag" class="w-[15px]" />
                        <span data-lang="fromColombia">From Colombia</span>
                    </div>
                    <div class='about-me-pill border-[#25AFED]'>
                        <span class="text-[14px]">🛫</span>
                        <span data-lang="willingToMove">Willing to move</span>
                    </div>
                </div>   
                <p data-lang="textAboutMe" class="text-left px-5 my-2">
                    I am an electronic engineer and software developer, passionate about the world of programming. Currently, I am enhancing my skills in fullstack web development and seeking an opportunity to advance my professional career in this area. I have over 3 years of work experience in electronic security and data analysis.
                </p>             
            </div>
        </div>
    </div>    
</section>

<style>
    @media (max-width: 900px){
        .about-me{
            flex-direction: column;
        }
        .about-me p{
            text-align: center;
        }
        .pills-container{
            @apply justify-center;
        }

    }
</style>