---
import { GithubIcon, GmailIcon, LinkedinIcon } from '../icons';
import { ArrowTopRightOnSquareIcon } from '@heroicons/react/20/solid';

import "../styles/Contact.css"
---

<section id="contact" >
    <div class="section-container">
        <h2 class="dynamic-title" data-lang="contact">Let's Chat</h2>
        <p data-lang="contactInfo">If you want to work with me, reach me at:</p>
        <div class="flex flex-wrap gap-3 items-center justify-center p-5 ">
            <a href="https://github.com/josesalopasog" class="contact-button-container border-[#c5221f]" target='_blank'>
                <GithubIcon className="contact-icon"  />
                <p>GitHub</p>
                <ArrowTopRightOnSquareIcon className="contact-icon" />
            </a>
            <a href="https://www.linkedin.com/in/josé-salopaso-484143187/" class="contact-button-container border-[#0A66C2]" target='_blank'>
                <LinkedinIcon className="contact-icon"/>
                <p>LinkedIn</p>
                <ArrowTopRightOnSquareIcon className="contact-icon" />
            </a>
        </div>  
        <p data-lang="contactMail">Or mail me:</p>  
        <div class="flex flex-row gap-3 items-center justify-center p-5 ">
            <a 
                href="mailto:josesalopaso@gmail.com?subject=Let's%20talk%20about%20work&body=Mensaje%20predefinido" 
                class="contact-button-container border-[#fbbc04]" 
                target='_blank'
            >
                <GmailIcon className="contact-icon"/>
                <p class="flex xs-screen:hidden">josesalopaso@gmail.com </p>
                <p class="hidden xs-screen:flex">Gmail</p>
                <ArrowTopRightOnSquareIcon className="contact-icon" />
            </a>
        </div>  
    </div>    
</section>
