---

---

<section id="education" >
    <div class="section-container">
        <h2 data-lang="titleEducation">Let's Chat</h2>
        <div class="grid grid-cols-[auto,auto,auto] gap-4">
            <div class="col-start-1">
                
            </div>
        </div>
    </div>    
</section>
