---
import "../styles/education.css";
---

<section id="education">
  <div class="section-container">
    <h2 data-lang="education">Education</h2>
    <div class="px-5">
      <h2 class="text-left my-2" data-lang="professional">Professional</h2>
      <ol class="text-left relative border-s-2 border-white">
        <li class="mb-10 ms-4">
          <div
            class="absolute w-2 h-2 bg-gray-200 rounded-full mt-1.5 -start-[7px] dark:bg-gradient-to-r from-[#E100FF] to-[#00E1FF]"
          >
          </div>
          <time
            class="mb-1 text-sm font-normal leading-none bg-gradient-to-r from-[#E100FF] to-[#00E1FF] bg-clip-text text-transparent"
            data-lang="april2024">April 2024</time
          >
          <h3
            class="text-lg font-semibold text-gray-900 dark:text-white"
            data-lang="universityTitle"
          >
            Electronic Engineer
          </h3>
          <p data-lang="university">Universidad Sergio Arboleda</p>
        </li>
      </ol>
      <h2 class="text-left my-2" data-lang="certificatedCourses">
        Certificated Courses
      </h2>
      <ol class="text-left relative border-s-2 border-white">
        <li class="mb-5 ms-4">
          <div
            class="absolute w-2 h-2 bg-gray-200 rounded-full mt-1.5 -start-[7px] dark:bg-gradient-to-r from-[#E100FF] to-[#00E1FF]"
          >
          </div>
          <time
            class="mb-1 text-[18px] font-normal leading-none bg-gradient-to-r from-[#E100FF] to-[#00E1FF] bg-clip-text text-transparent"
            data-lang="january2025">January 2025</time
          >
          <ul class="list-disc pl-5">
            <li
              class="text-[20px] text-gray-900 dark:text-white"
              data-lang="reactViteTailwindCourse"
            >
              React.js course with Vite.js and TailwindCSS
            </li>
          </ul>
        </li>
        <li class="mb-5 ms-4">
          <div
            class="absolute w-2 h-2 bg-gray-200 rounded-full mt-1.5 -start-[7px] dark:bg-gradient-to-r from-[#E100FF] to-[#00E1FF]"
          >
          </div>
          <time
            class="mb-1 text-[18px] font-normal leading-none bg-gradient-to-r from-[#E100FF] to-[#00E1FF] bg-clip-text text-transparent"
            data-lang="december2024">December 2024</time
          >
          <ul class="list-disc pl-5">
            <li
              class="text-[20px] text-gray-900 dark:text-white"
              data-lang="reactBasicCourse"
            >
              React.js course
            </li>
            <li
              class="text-[20px] text-gray-900 dark:text-white"
              data-lang="npmCourse"
            >
              NPM Course: Package and Dependency Management in JavaScript
            </li>
            <li
              class="text-[20px] text-gray-900 dark:text-white"
              data-lang="domCourse"
            >
              JavaScript Course: DOM Manipulation
            </li>
            <li
              class="text-[20px] text-gray-900 dark:text-white"
              data-lang="jsFundamentalsCourse"
            >
              JavaScript Fundamentals Course
            </li>
            <li
              class="text-[20px] text-gray-900 dark:text-white"
              data-lang="frontendCourse"
            >
              Frontend Developer Course
            </li>
          </ul>
        </li>
        <li class="mb-5 ms-4">
          <div
            class="absolute w-2 h-2 bg-gray-200 rounded-full mt-1.5 -start-[7px] dark:bg-gradient-to-r from-[#E100FF] to-[#00E1FF]"
          >
          </div>
          <time
            class="mb-1 text-[18px] font-normal leading-none bg-gradient-to-r from-[#E100FF] to-[#00E1FF] bg-clip-text text-transparent"
            data-lang="november2024">November 2024</time
          >
          <ul class="list-disc pl-5">
            <li
              class="text-[20px] text-gray-900 dark:text-white"
              data-lang="jsExpert"
            >
              JavaScript University - From Zero to JavaScript Expert!
            </li>
            <li
              class="text-[20px] text-gray-900 dark:text-white"
              data-lang="sapCourse"
            >
              SAP ERP System
            </li>
            <li
              class="text-[20px] text-gray-900 dark:text-white"
              data-lang="gitCourse"
            >
              Git and GitHub from Zero to Expert
            </li>
          </ul>
        </li>
        <li class="mb-5 ms-4">
          <div
            class="absolute w-2 h-2 bg-gray-200 rounded-full mt-1.5 -start-[7px] dark:bg-gradient-to-r from-[#E100FF] to-[#00E1FF]"
          >
          </div>
          <time
            class="mb-1 text-[18px] font-normal leading-none bg-gradient-to-r from-[#E100FF] to-[#00E1FF] bg-clip-text text-transparent"
            data-lang="september2024">September 2024</time
          >
          <ul class="list-disc pl-5">
            <li
              class="text-[20px] text-gray-900 dark:text-white"
              data-lang="pythonData"
            >
              Python for Data Science & Machine Learning
            </li>
          </ul>
        </li>
        <li class="mb-5 ms-4">
          <div
            class="absolute w-2 h-2 bg-gray-200 rounded-full mt-1.5 -start-[7px] dark:bg-gradient-to-r from-[#E100FF] to-[#00E1FF]"
          >
          </div>
          <time
            class="mb-1 text-[18px] font-normal leading-none bg-gradient-to-r from-[#E100FF] to-[#00E1FF] bg-clip-text text-transparent"
            data-lang="august2024">August 2024</time
          >
          <ul class="list-disc pl-5">
            <li
              class="text-[20px] text-gray-900 dark:text-white"
              data-lang="pythonAdvanced"
            >
              Python advanced programmer
            </li>
          </ul>
        </li>
        <li class="mb-5 ms-4">
          <div
            class="absolute w-2 h-2 bg-gray-200 rounded-full mt-1.5 -start-[7px] dark:bg-gradient-to-r from-[#E100FF] to-[#00E1FF]"
          >
          </div>
          <time
            class="mb-1 text-[18px] font-normal leading-none bg-gradient-to-r from-[#E100FF] to-[#00E1FF] bg-clip-text text-transparent"
            data-lang="october2020">October 2020</time
          >
          <ul class="list-disc pl-5">
            <li
              class="text-[20px] text-gray-900 dark:text-white"
              data-lang="cProgramming"
            >
              C programming
            </li>
            <li
              class="text-[20px] text-gray-900 dark:text-white"
              data-lang="excelAdvanced"
            >
              Advanced Excel
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</section>
