---
import "../styles/footer.css";
import { HeartIcon } from "../icons";
---

<footer>
  <div class="footer-container">
    <p class="flex flex-row text-[16px] align-middle justify-center ">
      <span data-lang="madeWith">Made with</span>
      <span>
        <HeartIcon  className="w-4 h-4 mx-2 dark:fill-[#00D8FF] fill-[#BD34FE] " />
      </span>  
      <span data-lang="by">by  José Salopaso!</span>
    </p>    
  </div>
</footer>