---
import LangButton from "./React-components/LangButton.jsx";

import jslogo from "../assets/images/logo-JS_Tech(white-transparent).png";

import "../styles/header.css";
---

<header>
  <a href="#" class="col-start-1 flex justify-center items-center px-5">
    <img
        class="w-[60px] h-[60px] object-cover"
        src={jslogo.src}
        alt="JS-logo"
    />    
  </a>

  <nav id="main-nav" class="col-start-2 font-semibold justify-center items-center hidden custom:flex">
    <ul class="flex gap-x-4">
      <li ><a href="#about-me" data-lang="aboutMe">About Me</a></li>
      <li ><a href="#projects" data-lang="projects">Projects</a></li>
      <li ><a href="#skills" data-lang="skills">Skills</a></li>
      <li ><a href="#education" data-lang="education">Education</a></li>
      <li ><a href="#contact" data-lang="contact">Let's Chat</a></li>
    </ul>
  </nav>

  <div class="col-start-3 flex justify-center items-center px-5">
    <LangButton />
  </div>
</header>
