---
import ProjectsSwiper  from './React-components/ProjectsSwiper.jsx'
---


<section >
    <div class="section-container">
        <h2 data-lang="titleProjects">Projects</h2>
        <ProjectsSwiper client:load/>
    </div>    
</section>