---
import ProjectsSwiper  from './React-components/ProjectsSwiper.jsx'
import "../styles/Projects.css"
---

<section id="projects">
    <div class="section-container">
        <h2 class="dynamic-title" data-lang="projects">Projects</h2>
        <ProjectsSwiper client:load/>
    </div>    
</section>