<div class="flex my-10 justify-center">
	<h2 class="welcome text-[36px]">
      <span data-lang="welcomeData" class="text-black dark:text-white">Hi, I'm</span>
      <span class="bg-gradient-to-r from-[#E100FF]  to-[#00E1FF] bg-clip-text text-transparent">José Salopaso</span>!
  </h2>
</div>

<style>
  span.name {
    color: var(--gradient-color);
  }

</style>

