<div class="my-10">
	<h2>
      Hola, soy 
      <span class="bg-gradient-to-r from-[#E100FF]  to-[#00E1FF] bg-clip-text text-transparent">José Salopaso</span>!
  </h2>
</div>

<style>
  span.name {
    color: var(--gradient-color);
  }
</style>

