@import "tailwindcss";

.carousel-container {
  @apply text-black dark:text-white;
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-items {
  display: flex;
  transition: transform 0.6s ease-in-out;
  height: 100%;
}

.carousel-slide {
  min-width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center 70%;
  display: flex;
  align-items: center;
}

.carousel-slide:active {
  cursor: grabbing;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 15px 30px;
  width: 100%;
  height: 100%;
}

.carousel-text {
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: end;
  color: white;
}

.carousel-text h2 {
  text-align: end;
  font-weight: bold;
}

.carousel-text p {
  width: 40%;
  margin-top: 10px;
}

.carousel-caption {
  @apply bg-white/50 dark:bg-black/50;
  position: absolute;
  bottom: clamp(20px, 2vw, 25px);
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(8px);
  padding: clamp(4px, 1vw, 6px) clamp(8px, 2vw, 12px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: clamp(6px, 1.5vw, 12px);
  font-size: clamp(10px, 1.2vw, 14px);
}

.caption-tag {
  @apply bg-white dark:bg-black;
  font-weight: bold;
  padding: clamp(4px, 1vw, 6px) clamp(8px, 2vw, 12px);
  border-radius: 50px;
  white-space: nowrap;
}

.caption-buttons-container {
  display: flex;
  gap: clamp(8px, 1vw, 10px);
}

.caption-button {
  @apply text-black dark:text-white;
  width: clamp(14px, 2vw, 20px);
  height: clamp(14px, 2vw, 20px);
  transition: transform 0.2s ease-in-out;
}

.caption-button:hover {
  transform: scale(1.1);
}

.carousel-control {
  @apply text-black dark:text-white;
  cursor: pointer;
}

.icon {
  width: clamp(12px, 2vw, 20px);
  height: clamp(12px, 2vw, 20px);
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.2);
}

.carousel-dots {
  position: absolute;
  bottom: clamp(8px, 1vw, 15px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: clamp(6px, 1vw, 10px);
}

.dot {
  @apply bg-black/50 dark:bg-white/50;
  height: clamp(8px, 1vw, 10px);
  width: clamp(8px, 1vw, 10px);
  border-radius: 100%;
  cursor: pointer;
}

.dot.active {
  @apply bg-black dark:bg-white;
}

.carousel-techs-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: clamp(2px, 1vw, 5px);
}

.carousel-tech-bg {
  @apply bg-[#eee]/50 dark:bg-[#111]/50;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  padding: clamp(1px, 2vw, 5px);
  border-radius: 20px;
  transition: background 0.3s ease;
  position: relative;
  cursor: pointer;
}

.carousel-tech-icon {
  width: clamp(6px, 2vw, 20px);
  height: clamp(6px, 2vw, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-tech-label {
  position: absolute;
  left: 100%;
  margin-left: 8px;
  opacity: 0;
  transform: translateX(-10px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-family: "CalSans";
  white-space: nowrap;
  font-size: clamp(0.7rem, 1vw, 1.5rem);
}

.carousel-tech-bg:hover .carousel-tech-label {
  opacity: 1;
  transform: translateX(0);

}

.carousel-tech-bg:hover {
  transform: scale(1.1);  
}

