@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.carousel-container {
  @apply text-black dark:text-white;
  position: relative;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 6 / 5;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-slides {
  display: flex;
  transition: transform 0.6s ease-in-out;
  height: 100%;
}

.carousel-slide {
  @apply bg-white dark:bg-black;
  min-width: 100%;
  position: relative;
  height: 100%;
}

.carousel-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.carousel-image {
  position: relative;
  width: 50%;
}

.carousel-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}

.carousel-text {
  @apply bg-[#eee] dark:bg-[#111];
  width: 50%;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
}

.carousel-text p {
  margin-top: 10px;
}

.carousel-caption {
  @apply bg-white/50 dark:bg-black/50;
  position: absolute;
  bottom: clamp(25px, 2vw, 35px);
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(8px);
  padding: clamp(4px, 1vw, 6px) clamp(8px, 2vw, 12px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: clamp(6px, 1.5vw, 12px);
  color: black;
}

.caption-tag {
  @apply bg-white dark:bg-black;
  color: white;
  font-weight: bold;
  padding: clamp(4px, 1vw, 6px) clamp(8px, 2vw, 12px);
  border-radius: 50px;
  cursor: pointer;
  white-space: nowrap;
}

.caption-buttons-container {
  display: flex;
  gap: clamp(8px, 1vw, 10px);
}

.caption-button {
  @apply text-black dark:text-white;
  width: clamp(14px, 2vw, 20px);
  height: clamp(14px, 2vw, 20px);
}

.carousel-control {
  @apply text-black bg-white/50 dark:text-white dark:bg-black/50;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: clamp(6px, 1vw, 12px);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.carousel-control.left {
  left: clamp(6px, 1vw, 8px);
}

.carousel-control.right {
  right: clamp(6px, 1vw, 8px);
}

.carousel-control:hover {
  @apply bg-white dark:bg-black;
}

.icon {
  width: clamp(16px, 2vw, 20px);
  height: clamp(16px, 2vw, 20px);
}

.carousel-dots {
  position: absolute;
  bottom: clamp(8px, 1vw, 15px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: clamp(6px, 1vw, 10px);
}

.dot {
  @apply bg-black/50 dark:bg-white/50;
  height: clamp(8px, 1vw, 10px);
  width: clamp(8px, 1vw, 10px);
  border-radius: 100%;
  cursor: pointer;
}

.dot.active {
  @apply bg-black dark:bg-white;
}
