.toggle-lang-btn-container{
    display:flex;
    flex-direction: column;
}

.toggle-lang-btn{
    cursor: pointer;
    width: clamp(28px, 5vw, 34px);
    transition: transform 0.1s;
}

.toggle-lang-btn:hover {
    transform: scale(1.1);
    transition: transform 0.1s;
}