---
import background from "../assets/svg/background.svg";
---

<!doctype html>
<html lang="en" class="dark" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/js-tech-dark.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>José Salopaso | Dev</title>
  </head>
  <body>
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <slot />
    <script src="../utils/language.js"></script>
    <script src="../utils/dynamicTitle.js"></script>
  </body>
</html>

